body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
 }
 #main-page {
    background: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
 #main-page h1 {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
 }
 #main-page p {
    font-size: 40px;
 }
 h2 {
    font-size: 60px;
    text-decoration: underline;
 }
 #end {
    background: whitesmoke;
    color: black;
    margin-top: 40px;
 }
 .fin1 {
     font-size: 40px;
     color: brown;
 }
 .fin {
     text-decoration: underline;
 }